#fahrenheit p {
    color: #F7CA18;
}

.notShow {
    display:none;
}

.selected {
    color: #F7CA18;
}
body {
    background: #D2527F;
    color: #ffffff ;
    font-family: Arial Calibri sans-serif;
    text-align: center;
}

h1 {
    margin-top: 150px;
}

.toggle {
    display: inline-block;

}

#showLocation, #showWeather p{
    font-size: 20px;
}